fastapi
uvicorn
psycopg2-binary
python-dotenv
azure-functions
azure-storage-blob
bcrypt
pyjwt
azure-communication-email 
pydantic
email-validator
apscheduler
python-multipart
gspread
google-auth-oauthlib
pytz
pathlib
requests
geopy
openpyxl
pysonar